.nav_links ul{
    list-style-type: none;
    margin:0;
    padding: 20px; 
    overflow: hidden; 
    background-color: #666;
}

.nav_links li {
    float: left 
}

.nav_links a{
    display: block; 
    padding: 8px; 
    background-color: #dddddd;
}