@import url('http://fonts.cdnfonts.com/css/games');

body {
    font-family: 'Games', sans-serif;
    background-color: #6B5B95
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    top: 0;
    width: 100%;
}

/* Nav Bar */

.nav_links ul {
    margin: auto; 
}

.nav_links li {
    border-right: 1px solid #bbb;
    float: left;
}

.nav_links a {
    transition: all 0.3s ease 0s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_links a:hover {
    background-color: #111;
}

h1 {
    color: #05bbaa;
    font-size: 50px;
    /* padding: px; */
    font-family: 'Games', sans-serif;

}

/* Index Page */
.games {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0, .05)
}

.gameContainer {
    width: 350px;
    border: 10px solid #1a2c54;
    text-align: center;
    margin-bottom: 15px;
    background-color: #eb5951;
}

.gameImg {
    width: 100%;
    height: auto;
}

li, a, button {
    border: none;
    color: white;
    margin: 10px 10px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

span {
    color: #05bbaa;
    font-family: 'Games', sans-serif;
    cursor: pointer;
    margin-right:auto;
    font-size:25px;
}

p {
    font-family: system-ui;
    /* width: 350px; */
    border: 10px solid #1a2c54;
    /* text-align: center; */
    /* margin-bottom: 15px; */
    background-color:  #b45dbb;

}