@import url('http://fonts.cdnfonts.com/css/games');

*{
    box-sizing: border-box;
    margin: auto; 
    padding: 0; 
    background-color: #8458b3;
    font-family: 'Games', sans-serif;
}


body{
    display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
    list-style: none;
}


/* Nav Bar */

.nav_links ul {
    background-color: #666;
    margin: auto; 
}

.nav_links li {
    border-right: 1px solid #bbb;
    float: left;
}

.nav_links a {
    transition: all 0.3s ease 0s;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav_links a:hover {
    background-color: #111;
}

h1 {
    color: #a0d2eb;
    font-size: 20px;
    padding: 8px;
    font-family: 'Games', sans-serif;
    font-size: 50px;
    cursor: pointer;
    margin-right:auto;
}


button {
    margin-left:20px;
    padding: 9px 25px; 
    background: rgba(0,136,169,1);
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

button:hover {
    background-color: rgba(0,136,169,0,8);
}

.games{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-bottom:  1px solid rgba(0,0,0,0,.05)
}

.gameBox{
    width: 500px; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gameImg{
    width:100%;
    height: auto;
}  

a:hover {
    margin-left:20px;
    padding: 9px 25px; 
    background: rgba(0,136,169,1);
    border: none; 
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s; 
}

input [type=text]{
    padding: .3em; 
    color: #9b9b9b;
    background-color: #ffffff;
}


input[type=submit] {
    padding: .1em;
    color:grey;
    background: purple;
    font-size: 1em;
    border-radius: 10%;
} */

/* Comment Section */
commentContainer{
    width: 350px; 
    border: 10px solid #0088a9;
    margin-bottom: 15px;
    font-family: 'Games', sans-serif;
    font-weight: 500; 
    font-size: 16px; 
    color: #edf0f1;
    text-decoration: none;
}

.commentBox{
    background-color: #a28089;
    border: solid; 
    margin:auto;
    padding: 10px; 
    margin-bottom: 15px;
} 

